
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div >
    <a href="/admin/userList">Users list</a>
    <div>
        Update user
    </div>
    <form method="post" action="/admin/edit">

        <input type="hidden" name="id" th:value="${user.id}" /> <br>
        <input type="text" name="name"  th:value="${user.name}" /> <br>
        <input type="text" name="password"><br>

        <td>
            <input  type="checkbox" name="role" value="ROLE_ADMIN" > Admin
            <input  type="checkbox" name="role" value="ROLE_USER"> User
        </td>
        <input type="submit" value="Edit user">
    </form>
</div>
</body>
</html>