<html  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script type="text/javascript" src="/js/rest.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row content">
        <div class="col-sm-2 sidenav" >
            <ul class="nav nav-pills nav-stacked">
                <li class="active" sec:authorize="hasRole('ROLE_ADMIN')"><a >Admin page</a></li>
                <li sec:authorize="hasRole('ROLE_USER')"><a href="/user">User page</a></li>
            </ul>
            <br>
        </div>
        <div>
            <div class="container-fluid col-sm-10 ">
                <h2>Dynamic Tabs</h2>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#menu1">Add user</a></li>
                </ul>

                <div class="tab-content ">
                    <div id="home" name="home" class="tab-pane fade in active panel-default">
                        <div class="panel-heading">
                            <h4> All users </h4>
                        </div>
                        <table class="table table-bordered table-striped">

                            <thead class="thead-dark">
                            <tr>
                                <th>User id</th>
                                <th>User name</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="usersListTable">

                            </tbody>

                        </table>

                    </div>

                    <div id="menu1" class="tab-pane fade" role="tabpanel">
                        <h3>Add user</h3>

                        <form name = "addUserForm" class="raw col-sm-4 justify-content-center" id="formAdd" onsubmit="event.preventDefault()" >

                            <div class="form-group">
                                <label for="addUserName" class="col-form-label">Name:</label>
                                <input type="text" id="addUserName" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="addUserPassword" class="col-form-label">Password:</label>
                                <input type="password" id="addUserPassword" class="form-control">
                            </div>

                            <div class="form-group">

                                <select multiple class="form-control text-secondary" id="addUserRoles">

                                </select>
                            </div>

                            <br>
                                    <button  id="addUser" type="submit" class="btn btn-success">Add new user</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="myForm">

            <div id="editUserModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update or create </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="editId" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="editName" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="editName" value="">
                            </div>

                            <div class="form-group">
                                <label for="editPassword" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="editPassword" value="">
                            </div>

                            <div class="form-group">
                                <select id="editUserRoles" multiple class="form-control text-secondary" >

                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="editUserButton" type="submit" data-dismiss="modal"  class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <div id="deleteUserModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="deleteId" value=""/>

                    <div id="formDelete" class="bg-white text-center">
                        <h4>Are you sure you want to delete this user?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="deleteUserButton" form="formDelete" type="submit" data-dismiss="modal" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>
